@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-dark: #161616;
	--color-white: #fff;
}

body {
	background-image: url(/main-background.webp);
	background-size: cover;
	color: var(--color-white);
}
